        * {
            padding: 0;
            margin: 0;
            transition: ease 0.8s all;
        }

        img {
            margin: 0;
            padding: 0;
        }


        .sponsorDisplay {
            display: flex;
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 0;
            flex-wrap: wrap;
        }


                    @font-face{src: url(fonts/Roboto-Black.ttf);
                        font-family: Roboto-Black;  }

                    @font-face{src: url(fonts/Roboto-Bold.ttf);
                        font-family: Roboto-Bold;  }

                    @font-face{src: url(fonts/Roboto-Regular.ttf);
                        font-family: Roboto-Regular;  }

                    @font-face{src: url(fonts/RobotoSlab-Regular.ttf);
                        font-family: RobotoSlab-Regular;  }


          .clientSponsors {
                    overflow: hidden;
                    padding: 1rem;
                    background: linear-gradient(to top right, rgba(220, 60, 63), rgba(55, 124, 186));
                    display: flex;
                    margin: 1rem 0rem 1rem 0rem;
                    position: relative;
                }

            .clientAtten {
                    overflow: hidden;
                    padding: 1rem;
                    background: linear-gradient(to top right, rgba(220, 60, 63), rgba(55, 124, 186));
                    display: flex;        
                    margin-bottom: 5rem;
                    position: relative;
                }


                @keyframes slide {
                    from {
                        transform: translateX(0);
                    }
                    to {
                        transform: translateX(-100%);
                    }
                }

                @keyframes slideRight {
                    from {
                        transform: translateX(-100%);
                    }
                    to {
                        transform: translateX(0);
                    }
                }

/*
                .clientSponsors .carousel:hover {
                    animation-play-state: paused;
                }

                .clientAtten .carouselTwo:hover {
                    animation-play-state: paused;
                }
*/
                .carousel {
                    white-space: nowrap;
                    background-color: #fff;
                    display: inline-block;
                    display: flex;
                    flex-wrap: nowrap;
                    animation: 90s slide infinite linear; 
                }

                .carouselTwo {
                    white-space: nowrap;
                    background-color: #fff;
                    display: inline-block;
                    display: flex;
                    flex-wrap: nowrap;
                    animation: 90s slideRight infinite linear; 
                }

                .Slides {
                    padding: 1rem;
                    width: 400px;
                    margin: auto;
                    margin-bottom: 1rem;
                }

                .sponsorSlides {
                    margin: auto;
                    width: 100%;
                    max-width: 380px;
                    height: 130px;            
                    padding: 1rem;
                }

                .sponsorSlides img{
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                }

                .packageBox .subButton {
                    margin: 1rem;
                }


                


        a, button, .carouselArrows img {
            cursor: pointer;
            text-decoration: none;
            color: #fff;
            font-family: Roboto-Bold;
            font-size: 1.2rem;
        }


        #directions .paraHead {
            padding: 0;
            margin: 2% 0% 0% 0%;
            font-size: 1.5rem;
            color: #fff;
        }

        #directions .copy {
            padding: 0;
            margin: 0% 0% 2% 0%;
            font-size: 1rem;
            line-height: 1.5rem;
            color: #fff;
        }


        #sponsorAttend {
            background-color: rgba(0, 0, 0, 0.7);
            margin: auto;
            justify-content: center;
            position: fixed;
            opacity: 1;
            pointer-events: none;
            padding-top: 50px;
            top: 0;
            left: 0;
            max-height: 100%;
            overflow-y: scroll;
            width: 100vw;
            transition: 0.3s ease;
            z-index: 350;
            backdrop-filter: blur(10px);
        }

        #sponsorAttend.show {
            pointer-events: auto;
            opacity: 0;
        }



        #sponsorAttendClosed {
            display: flex;
            justify-content: end;
            color: #fff;
            font-size: 2rem;
            z-index: 400;
        }
        
        .displayBox {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: rgba(220, 60, 63, 0.7);
            backdrop-filter: blur(15px);
            border: solid 2px #fff;
            border-radius: 10px;
            margin: 5% auto; /* 15% from the top and centered */
            padding: 2rem 2rem 2rem 2rem;
            width: 50%;
            max-width: 1080px; /* Could be more or less, depending on screen size */
            animation-duration: 2s;
            overflow-y: auto;
            z-index: 50;
            transition: ease 1s;
            opacity: 1;
        }


        body {
            background-color: #fff;
            font-family: sans-serif;
        }

        .header {
            position: relative;
            top: 0;
            left: 0;
            display: flex;
            margin: auto;
        }

        .headBox img {
            z-index: -10;
            object-fit: cover;
            height: 100%;
            width: 100%;
        }

        .headBox {
        position: relative;
            margin: auto;
            width: 100%;
            max-width: 3000px;
            height: 100vh;
            margin: auto;

        }


        .sponsorHead {
            font-family: roboto-Bold;
            font-size: 1.5rem;
            color: #dc3c3f;
            margin: auto;
            text-align: center;
            text-transform: uppercase;
        }

        #mtcAttendClosed, #sponsorAttendClosed {
            color: #dc3c3f !important;
        }

        .mtcFlow {
            display: flex;
            justify-content: center;
        }

        .mtcItem {
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 0;
            padding: 2rem;
            align-items: center;
            align-content: center;
        }



        .mtcname {
            text-align: center;
            margin: auto;
            font-size: 1rem;
            font-family: Roboto-Regular;
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        .ISSA {
            width: 5%;
            max-width: 350px;
            top: 3%;
            left: 3%;
            position: absolute;
            z-index: 50;
        }

        .navi {
            position: absolute;
            top: 5%;
            right: 5%;
            z-index: 50;
        }

        .mainButton {
            color: #fff;
            background-color: transparent;
            border: solid 2px #fff;
            padding: 1rem;
            font-size: 1rem;
            font-family: Roboto-Black;
            text-transform: uppercase;
        }

        .headersBox {
            position: absolute;
            margin: auto;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            z-index: 50;
        }

        .homeTitle {
            padding: 1rem;
            font-size: 6rem;
            font-family: Roboto-Bold;
            text-transform: uppercase;
            color: #fff;
        }

        .homeStand {
            color: #fff;
            font-size: 2rem;
            font-family: RobotoSlab-Regular;
            line-height: 1rem;
        }

        .headersBox .subButton {
            color: #fff;
            background-color: #dc3c3f;
            border: none;
            padding: 1rem;
            margin-top: 5rem;
            text-transform: uppercase;
        }

        .paraHead {
            font-family: Roboto-Bold;
            text-transform: uppercase;
            font-size: 4rem;
            padding: 0 0 2rem 5rem;
            }

        .paraHeadCN {
            font-family: Roboto-Bold;
            text-transform: uppercase;
            font-size: 4rem;
            margin: auto;
            width: 100%;
            text-align: center;
            margin-bottom: 1rem;
            }

            

        .subNote {
            font-family: Roboto-Bold;
            text-transform: uppercase;
            color: #dc3c3f;
            font-size: 1.8rem;
            margin-bottom: 2rem;
            text-align: center;
            }


        .subNote2 {
            font-family: Roboto-Bold;
            text-transform: uppercase;
            color: #000 !important;
            font-size: 1.2rem;
            width: 90%;
            margin: auto;
            margin-bottom: 2rem;
            text-align: center;
            }

        .subNote2 a {
            color: #000 !important;
            font-size: 1.2rem;
            width: 90%;
            margin: auto;
            }


        .bodyPara {
            font-size: 1rem;
            font-family: Roboto-Regular;
            padding: 0.5rem 0 0.5rem 0;     
        }

        .bodyParaHighlight{
            font-size: 1rem;
            font-family: Roboto-Bold;
            color: #377cba;
            padding: 0.5rem 0 0.5rem 0;     
        }

        .subButton {
            color: #fff;
            font-size: 1rem;
            background-color: #dc3c3f;
            font-family: Roboto-Black;
            border: none;
            padding: 1rem;
            margin: 1rem 0 1rem 0;
            text-transform: uppercase;
        }

        .logo67 {
            margin: auto;
            width: 60%;
            display: flex;
            justify-content: center;
            margin-top: 5rem;
            margin-bottom: 5rem;
            
        }

        .logo67 img {
            max-width: 600px;
            height: 100%;
            object-fit: cover;
        }

        .sectionBox {
            display: grid;
            margin: auto;
            justify-content: center;
            grid-template-columns: 50% 50%;
        }

        .sectionBoxCN {
            display: grid;
            margin: auto;
            justify-content: center;
            grid-template-columns: 90%;
            margin-top: 2rem;
        }

        .introContainer {
            width: 100%;
            padding-bottom: 5rem;
            display: grid;
            grid-template-columns: 100%;
            justify-content: center;
            margin: auto;
            margin-bottom: 5%;           
        }

        .introContainer .featureImage {
            margin: auto;
            margin-bottom: 2%;
            width: 100%;
            max-width: 650px;
        }

        .innerBoxMain {
            justify-content: center;
            align-items: center;
        }

        .innerBoxMain .bodyPara {
            margin: auto;
            font-size: 1.2rem;
            text-align: center;
            width: 70%;
        }

        .innerBoxMain .paraHead {
            margin: auto;
            padding: 0;
            text-align: center;
            width: 100%;
            margin: 2% 0% 1% 0%;
        }

        

        .innerBoxMain .subButton {
            margin: auto;
            display: flex;            
            margin-top: 2rem;
            justify-content: center;
        }
        
        
        .welcomeVideo {
            margin: auto;
            width: 50%;
            position: relative;
            margin-top: 2rem;
        }

        .ISSA67 {
            aspect-ratio: 16 / 9;
            width: 100%
        }

        .mapEmbed {
            width: 100%;
            height: 100vh;
            position: relative;
        }



        .mapEmbed iframe {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        .mapEmbed div img {
            width: 30%;
            padding: 1rem 0rem 1rem 0rem;
        }

        .mapInfo {
            width: 20%;
            padding: 1rem;
            background-color: #fff;
            box-shadow: 0px 0px 5px 0px;
            position: relative;
            top: 0;
            left: 90%;
            transform: translate(-100%, -200%);
            z-index: 10;
        }

        .mapEmbed p {
            font-size: 0.8rem;
            font-family: sans-serif;
            line-height: 1rem;
        }

        .PackagePDF {
            margin-top: 2rem;
            max-width: 350px;
            width: 90%;
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        .imageCarousel {
            width: 100%;
            max-width: 1500px;
            display: flex;
            overflow: hidden;
        }

        .imageCarousel div {
            display: grid;
            margin: auto;
            height: 70vh;
            grid-template-columns: 90% 20%;
            flex: none;
        }

        .imageCarousel div span {
            margin-right: 1rem;
        }

        .imageCarousel div img {
            height: 100%;
            max-width: 1200px;
            object-fit: cover;
        }

        .carouselArrows {
            display: flex;
            padding: 1rem;
            justify-content: end;
            margin: auto;
            z-index: 20;
        }
        
        .imageCarousel img:hover {
            cursor: pointer;
        }

        .carouselArrows img {
            padding: 1rem;
            width: 150px;
        }

        .clientAtten {       
            margin-bottom: 1rem;
     
        }


        .attractionsGallery {
            display: grid;
            grid-template-columns: 33.3% 33.3% 33.3%;
            margin: auto;
            justify-content: center;
            width: 100%;
            margin-bottom: 2rem;
        }

        .attractBox {
            position: relative;
        }

         .singaporePic {
            max-height: 550px;
            height: 100%;
            width: 100%;
            max-width: 850px;

            overflow: hidden;
        }

        .attractionHighlight {
            opacity: 0;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            transform: translateY(-20px);
            width: 100%;
            height: 100%;
            overflow: hidden;
            box-sizing: border-box;
            display: flex;
            align-items: end;
            background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255,0,0,0.5));
        }

        .attractionHighlight .attractBlurb {
            color: #fff;
            padding: 1rem;
            font-size: 1.2rem;
            font-family: Roboto-Bold;
        }

        .attractionHighlight:hover {
            opacity: 1;
            overflow: hidden;
            transform: translateY(0px);
            background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255,0,0,0.5));
        }


        .carouselBox {
            position: relative;
        }

        .footHead {
            text-transform: uppercase;
            font-family: Roboto-Bold;
            font-size: 2rem;
            color: #fff;
        }

        .packageBox {
            margin: auto;
            display: flex;
            justify-content: center;
            margin-bottom: 2rem;
        }

        .carouselBox .innerBox {
            width: 20%;
            position: absolute;
            top: 35%;
            right: 10%;
            background-color: #ffffff;
            box-shadow: 0px 0px 8px 0px;
            padding: 1rem;
            transform: translate(-50%, -50%);
            margin: 5% auto;
        }

        .copyTs .bodyPara {
            margin-bottom: 0.2rem;
        }

        .contentBox {
            display: flex;
            flex-direction: row;
        }

        
        #fdbtn, #bckbtn {
            width: 5%;
            max-width: 50px;
        }

        .contentBox {
            margin: auto;
            display: grid;
            grid-template-columns: 50% 50%;
            
        }

        .innerBox {
            display: block;
            padding: 5rem;
            justify-content: flex-end;
        }

        .innerBox div {
            margin: 1rem 0 1rem 0;
            width: 50%;
            max-width: 350px;
        }

        .innerBox div img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .innerBoxTwo {
            display: flex;
            flex-direction: column;
            padding: 5rem;
            color: #ffffff;
            background-color: #377cba;
            justify-content: flex-end;

        }

        .sponsorsbuttons {
            display: flex;
        }
        
        .sponsorsbuttons .buttons {
            margin-right: 3rem;
        }



        .contentBox .innerBox div .paraHead {
            font-size: 4rem;
            margin-bottom: 1rem;
            font-family: Roboto-Bold;
            text-transform: uppercase;
        }

        .innerBox .paraHead, .innerBoxTwo .paraHead {
            padding: 0;
        }

        .copyTs {
            background-color: #dc3c3f;
            padding: 5rem;
        }

        .textFooter {
            margin: auto;
            color: #fff;
            text-align: center;
        }

        .copyrightBlurb {
            text-align: center;
            font-family: Roboto-Regular;
            font-size: 0.8rem;
            color: #fff;
            padding: 0;
            background-color: #dc3c3f;
            padding-bottom: 2rem;
        }

        .copyTs .mainButton {
            margin-top: 1rem;
            font-size: 1rem;
            text-transform: uppercase;
        }

        .ISSA img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        li {
            font-family: Roboto-Regular;
            font-size: 1rem;
            color: #fff;
        }

        ul {
            margin-left: 1rem;
        }

        .innerBox .logo {
            width: 30%;
            max-width: 250px;
            margin-bottom: 0.5rem;
        }
        

        .editBoxes {
            display: grid;
            grid-template-columns: 50% 50%;
            width: 100%;
            margin: auto;
            background-color: #fff;
        }

        .edit1 {
            padding: 2rem;
            font-family: Roboto-Regular;
            color: #377cba;
            font-size: 1rem;
            margin-top: 2rem;
        }

        .edit1 .copy {
            margin-bottom: 0.5rem;
        }

        .edit2 {
            padding: 5rem;
            font-family: Roboto-Regular;
            background-color: #dc3c3f;
            color: #fff;
            font-size: 1rem;
            
        }

        .edit3 {
            padding: 5rem;
            font-family: Roboto-Regular;
            background-color: #fff;
            font-size: 1rem;
            
        }

        .edit4 {
            padding: 5rem;
            font-family: Roboto-Regular;
            font-size: 1rem;
        }

        .editBoxes p {
            margin-bottom: 1%;
        }

        .editHead { 
       
                font-family: Roboto-Bold;
                text-transform: uppercase;
                font-size: 2rem;
                margin-bottom: 2%;

        }

        
        .contentBox .innerBox .modalbuttons {
            display: flex;
        }

        



/* Queries */

@media screen and (max-width: 960px){


        .sponsorDisplay {
            display: flex;
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 0;
            flex-wrap: wrap;
        }


               .sponsorDisplay .Slides .sponsorSlides {
                    margin: auto;
                    width: 100%;
                    max-width: 380px;
                    height: 130px;            
                    padding: 1rem;
                }


        .sponsorDisplay .Slides .sponsorHead {
            font-size: 1rem;
        }


        .sponsorDisplay .Slides .mtcname {
            font-size: 0.8rem;
        }




            .mtcFlow {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }


        .welcomeVideo {
            margin: auto;
            width: 100%;
            position: relative;
            margin-top: 0;
        }



    .edit3 .editHead {
        display: none;
    }

    .editBoxes {
        display: grid;
        grid-template-columns: 100%;
        width: 100%;
        margin: auto;
    }

    .editBoxes p {
        margin-bottom: 2%;
        font-size: 0.8rem;
    }

    .edit1 {
        padding: 1rem;
        margin: 0;

    }

    .edit2 {
        padding: 1rem;
        
    }

    .edit3 {
        padding: 1rem;
        font-family: Roboto-Regular;
        background-color: #dc3c3f;
        font-size: 1rem;
        color: #fff;
        
    }

    .edit4 {
        padding: 1rem;
    }

        .ISSA{
            width: 60px;
            left: 5%;
            top: 3%;
        }

        .logo {
            width: 20%;
            max-width: 250px;
            margin-bottom: 0.5rem;
        }

        .mainButton {
            font-size: 0.8rem;
            padding: 0.8rem;
        }

        .bodyPara {
            margin-bottom: 0.3rem;
        }

        .sectionBox .paraHead {
            margin-top: 2rem;
        }

        .subButton, .textFooter .mainButton {
            font-size: 0.8rem;
            padding: 0.8rem;
        }


        .headBox {
                height: 50vh;
            }


            .homeTitle {
                padding: 0.8rem;
                font-size: 3.5rem;
                margin-top: 5rem;
            }
    
            .homeStand {
                font-size: 1.5rem;
                line-height: 2.5rem;
            }

            .paraHeadCN {
                font-size: 2rem;
            }

            .headersBox .subButton {
                margin-top: 2rem;
                padding: 0.8rem;
            }
    
            .logo67 {
                width: 80%;
                margin-top: 3rem;
                margin-bottom: 0rem;
                
            }
    
            .logo67 img {
                max-width: 500px;
            }

            .sectionBox {
                display: grid;
                grid-template-columns: 100%;
                width: 90%;
                margin: auto;
                justify-content: center;
            }




            .innerMainBox {
                margin: auto;
            }

            .innerBoxMain {
                margin-top: 1rem;
                width: 90%;
                margin: auto;
            }



            .sectionBox .innerBox {
                padding: 2rem;
            }

            .imageContainer .featureImage {
                margin-left: 0px;
                width: 100%;
                margin-bottom: 2rem;
            }

            .paraHead {
                font-size: 1.2rem;
                padding: 1rem;
                }


            .subNote {
                    font-size: 0.8rem;
                    padding: 0;
                    margin-top: 0.5rem;
                    margin-bottom: 0.5rem;
                    text-align: left;
                }


        .subNote2 {
            font-family: Roboto-Bold;
            text-transform: uppercase;
            color: #000 !important;
            font-size: 0.8rem;
            width: 90%;
            padding: 0;
            text-align: left;
            margin: 0;
            }

        .subNote2 a {
            font-family: Roboto-Bold;
            text-transform: uppercase;
            color: #000 !important;
            font-size: 0.8rem;
            width: 90%;
            padding: 0;
            margin: 0;
            text-align: left;
            }



                .innerBoxMain .bodyPara {
                    margin: auto;
                    text-align: left;
                    width: 100%;
                    font-size: 0.8rem;
                }
        
                .innerBoxMain .paraHead {
                    margin: 0 auto;
                    text-align: left;
                }


                .imageCarousel {
                    width: 100%;
                    display: flex;
                    overflow: hidden;
                    margin: auto;
                }
        

                .welcomeVideo iframe {
                    width: 100%;
                    aspect-ratio: 16 / 9;
                }

                .imageCarousel div {
                    display: grid;
                    grid-template-columns: 100%;
                    width: 100%;
                    max-width: 650px;
                    flex: none;
                }

                .imageCarousel div span img {
                    object-fit: cover;
                    height: 90%;
                    max-width: 1000px;                
                    }

                    .packageBox {
                        margin-top: 6rem;
                        margin-bottom: 0;
                    }

                        
                .carouselBox .innerBox {
                    width: 55%;
                    position: absolute;
                    top: 100%;
                    left: 40%;
                    background-color: #ffffff;
                    box-shadow: 0px 0px 5px 0px;
                    padding: 1rem;
                    transform: translate(-50%, -50%);
                    margin: auto;
                }


                .carouselArrows {
                    padding: 0.8rem;
                }
            
        
                .carouselArrows img {
                    padding: 0.5rem;
                    width: 180px;
                }

                

                .carouselBox .innerBox .bodyPara, .carouselBox .innerBox .bodyParaHighlight {
                    font-size: 0.7rem;
                    line-height: 0.8rem;
                }

                .mapEmbed {
                    width: 100%;
                    height: 50vh;
                    position: relative;
                    margin-bottom: 10rem;
                }
        
                .mapEmbed iframe {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
        
                .mapEmbed div img {
                    width: 30%;
                    padding: 1rem 0rem 1rem 0rem;
                }
        
                .mapInfo {
                    width: 55%;
                    position: absolute;
                    top: 100%;
                    left: 40%;
                    background-color: #ffffff;
                    box-shadow: 0px 0px 5px 0px;
                    padding: 1rem;
                    transform: translate(-50%, -50%);
                    margin: auto;
                }
        
                .mapEmbed p {
                    font-size: 0.7rem;
                    font-family: sans-serif;
                    line-height: 0.8rem;
                }

                .contentBox {
                    margin: auto;
                    display: grid;
                    grid-template-columns: 100%;
                    
                }


                .introContainer {
                    margin-top: 5rem;
                    margin-bottom: 0;
                    }

                .contentBox .innerBox {
                    display: block;
                    margin-top: 1rem;
                    padding: 2rem;
                    justify-content: flex-end;
                }
        
                .innerBox div {
                    margin: 1rem 0 1rem 0;
                    width: 60%;
                    max-width: 300px;
                }
        
                .innerBoxTwo {
                    display: block;
                    padding: 2rem;
        
                }

                .copyTs {
                    padding: 2rem;
                }

                .copyrightBlurb {
                    font-size: 0.6rem;
                }

                .footHead {
                    font-size: 1.2rem;
                }

                p {
                    font-size: 0.8rem;
                }

                .mapEmbed div img {
                    width: 50%;
                    padding: 0.5rem 0rem 0.5rem 0rem;
                }

                .carouselArrows #fdbtn, .carouselArrows #bckbtn {
                    width: 35px;
                }


            .sectionBox .innerBox .paraHead {
                color: #000;
            }


            #directions .paraHead {
                font-size: 1rem;
                margin: 4% 0% 0% 0%;
            }
    
            #directions .copy {
                margin: 0% 0% 2% 0%;
                font-size: 0.8rem;
                line-height: 1.3rem;
            }
  

        .attractionsGallery {
            display: grid;
            grid-template-columns: 100%;
            margin-bottom: 1rem;

        }
        



        .attractionHighlight .attractBlurb {
            color: #fff;
            padding: 1rem;
            font-size: 0.8rem;
            font-family: Roboto-Regular;
        }

    }
    



                /* Basic styles for the page */

        .sponsorDisplay {
            display: flex;
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 0;
            flex-wrap: wrap;
        }


               .sponsorDisplay .Slides .sponsorSlides {
                    margin: auto;
                    width: 100%;
                    max-width: 380px;
                    height: 130px;            
                    padding: 1rem;
                }


            .modal-content .MTCLogo {
                width: 30%;
                max-width: 250px;
                margin: auto;
                padding: 2rem;
            }


            .modal-content .sponsorDisplay .Slides {
                max-width: 30%;
                margin: auto;
            }

            .modal-content .paraHeadCN {
                font-size: 2rem;
            }

            .modal-content .paraHeadCN a {
                color: #dc3c3f;
                font-size: 1.5rem;
            }

            

            /* Modal styles */
            .modal {
                display: none;  /* Hidden by default */
                position: fixed; /* Stay in place */
                z-index: 1; /* Sit on top */
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.8); /* Dark background with transparency */
                justify-content: center;
                align-items: center;
                z-index: 300;
                overflow-y: scroll;
                display: flex;  /* Use flexbox for centering */
            }

            /* Modal Content */
            .modal-content {
                margin: 5% auto;
                background-color: white;
                padding: 20px;
                overflow-y: scroll;
                border-radius: 10px;
                max-width: 800px;
                width: 70%;
                color: #dc3c3f;
                box-shadow: 0 0 35px 1px;
                text-align: center;
                border-radius: 10px;   
                animation: fadeIn 0.3s ease-in-out; /* Add animation */
            }


            /* Close button */
            .close {
                color: #dc3c3f;
                font-size: 4rem;
                font-weight: bold;
                position: absolute;
                top: 1rem;
                right: 2rem;
                cursor: pointer;
            }

            .close:hover,
            .close:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }

            /* Animation for modal appearance */
            @keyframes fadeIn {
                from {
                    opacity: 0;
                }
                to {
                    opacity: 1;
                }
            }

            @media only screen and (max-width: 860px) {


                            .modal-content .MTCLogo {
                            width: 50%;
                            }


                            .modal-content .paraHeadCN {
                                font-size: 1.2rem;
                            }

                            .modal-content .paraHeadCN a {
                                color: #dc3c3f;
                                font-size: 1rem;
                            }

                            /* HAMBURGER */

                            .close  {
                                    top: 0.5rem;
                                    right: 0.7rem;
                                    font-size: 3rem;
                            }
                        }



/*

#dc3c3f red
#357ab9 - #fff blue to white gradient
#357ab9 blue

*/



/*

 <section id="mtcAttend">

                                        <div class="displayBoxTwo">

                                            <span id="mtcAttendClosed"><B>X</B></span>

                                            <div>
                                                <h3 class="paraHead">
                                                    MTC Attendees
                                                </h3>
                                            </div>

                                            <div class="mtcFlow">

                                            <div class="mtcItem">
                                                <div class="mtcAttendLogo">
                                                    <img src="attendee logos/ABMaritime.png">
                                                </div>
                                                <p class="mtcname">
                                                A.B Maritime Inc
                                                </p>
                                            </div>

                                            <div class="mtcItem">
                                                <div class="mtcAttendLogo">
                                                    <img src="attendee logos/Alassia.png">
                                                </div>
                                                <p class="mtcname">
                                                Alassia Newships Management Inc
                                                </p>
                                            </div>

                                            <div class="mtcItem">
                                                <div class="mtcAttendLogo">
                                                    <img src="attendee logos/AM Nomikos.png">
                                                </div>
                                                <p class="mtcname">
                                                AM Nomikos
                                                </p>
                                            </div>


                                            <div class="Slides">                         
                                                <div class="sponsorSlides">
                                                <img src="attendee logos/AVS.png">
                                                </div>
                                                <p class="mtcname">
                                                AVS
                                                </p>   
                                            </div>


                                            </div>
                                            
                                            <div class="mtcFlow">

                                            <div class="mtcItem">
                                                <div class="mtcAttendLogo">
                                                    <img src="attendee logos/bluMaritime.png">
                                                </div>
                                                <p class="mtcname">
                                                BLU Maritime Consultancy Pte Ltd
                                                </p>
                                            </div>

                                            <div class="mtcItem">
                                                <div class="mtcAttendLogo">
                                                    <img src="attendee logos/Bright Navigation.png">
                                                </div>
                                                <p class="mtcname">
                                                Bright Navigation
                                                </p>
                                            </div>

                                            <div class="mtcItem">
                                                <div class="mtcAttendLogo">
                                                    <img src="attendee logos/BSMLogo.png">
                                                </div>
                                                <p class="mtcname">
                                                BSM
                                                </p>
                                            </div>

                                            </div>                                     

                                            <div class="mtcFlow">

                                            <div class="mtcItem">
                                                <div class="mtcAttendLogo">
                                                    <img src="attendee logos/BWFleet.png">
                                                </div>
                                                <p class="mtcname">
                                                BW Fleet
                                                </p>
                                            </div>

                                            <div class="mtcItem">
                                                <div class="mtcAttendLogo">
                                                    <img src="attendee logos/Columbia Ship Management.png">
                                                </div>
                                                <p class="mtcname">
                                                Columbia Ship Management - Singapore
                                                </p>
                                            </div>

                                            <div class="mtcItem">
                                                <div class="mtcAttendLogo">
                                                    <img src="attendee logos/Columbia Ship Management.png">
                                                </div>
                                                <p class="mtcname">
                                                Columbia Ship Management - Greece
                                                </p>
                                            </div>

                                            </div>



                                            <div class="mtcFlow">

                                            <div class="mtcItem">
                                                <div class="mtcAttendLogo">
                                                    <img src="attendee logos/cosmos_marine_management_logo.png">
                                                </div>
                                                <p class="mtcname">
                                                Cosmoship Management
                                                </p>
                                            </div>

                                            <div class="mtcItem">
                                                <div class="mtcAttendLogo">
                                                    <img src="attendee logos/dis-positivo.png">
                                                </div>
                                                <p class="mtcname">
                                                D'Amico
                                                </p>
                                            </div>

                                            <div class="mtcItem">
                                                <div class="mtcAttendLogo">
                                                    <img src="attendee logos/Fleet Management Limited.png">
                                                </div>
                                                <p class="mtcname">
                                                Fleet Management Limited
                                                </p>
                                            </div>



                                            </div>                                            
                                            <div class="mtcFlow">

                                            <div class="mtcItem">
                                                <div class="mtcAttendLogo">
                                                    <img src="attendee logos/Great Eastern.png">
                                                </div>
                                                <p class="mtcname">
                                                Great Eastern
                                                </p>
                                            </div>

                                            <div class="mtcItem">
                                                <div class="mtcAttendLogo">
                                                    <img src="attendee logos/Hermeena Marine Contractors.png">
                                                </div>
                                                <p class="mtcname">
                                                Heerema Marine Contractors
                                                </p>
                                            </div>

                                            <div class="mtcItem">
                                                <div class="mtcAttendLogo">
                                                    <img src="attendee logos/Interorent Shipmanagement .png">
                                                </div>
                                                <p class="mtcname">
                                                Interorient Marine Services Ltd
                                                </p>
                                            </div>

                                            </div>



                                            <div class="mtcFlow">

                                            <div class="mtcItem">
                                                <div class="mtcAttendLogo">
                                                    <img src="attendee logos/JHI Steamship Co.png">
                                                </div>
                                                <p class="mtcname">
                                                JHI Steamship Co
                                                </p>
                                            </div>

                                            <div class="mtcItem">
                                                <div class="mtcAttendLogo">
                                                    <img src="attendee logos/MCTC.png">
                                                </div>
                                                <p class="mtcname">
                                                MCTC
                                                </p>
                                            </div>

                                            </div>


                                            <div class="mtcFlow">

                                            <div class="mtcItem">
                                                <div class="mtcAttendLogo">
                                                    <img src="attendee logos/Oldendorff Carriers.png">
                                                </div>
                                                <p class="mtcname">
                                                Oldendorff Carriers
                                                </p>
                                            </div>

                                            <div class="mtcItem">
                                                <div class="mtcAttendLogo">
                                                    <img src="attendee logos/NYK Shipmanagement.png">
                                                </div>
                                                <p class="mtcname">
                                                NYK Shipmanagement
                                                </p>
                                            </div>

                                            <div class="mtcItem">
                                                <div class="mtcAttendLogo">
                                                    <img src="attendee logos/Seagate Navigation Limited.png">
                                                </div>
                                                <p class="mtcname">
                                                Seagate Navigation Limited
                                                </p>
                                            </div>

                                            </div>


                                            <div class="mtcFlow">

                                            <div class="mtcItem">
                                                <div class="mtcAttendLogo">
                                                    <img src="attendee logos/SPS-Logo.png">
                                                </div>
                                                <p class="mtcname">
                                                Ship Procurement Services S.A (SPS)
                                                </p>
                                            </div>


                                            <div class="Slides">                        
                                                <div class="sponsorSlides">
                                                <img src="attendee logos/Synergy.png">
                                                </div>
                                                <p class="mtcname">
                                                Synergy Group
                                                </p>   
                                            </div>  


                                            <div class="mtcItem">
                                                <div class="mtcAttendLogo">
                                                    <img src="attendee logos/torm_logo.png">
                                                </div>
                                                <p class="mtcname">
                                                Torm
                                                </p>
                                            </div>

                                            <div class="mtcItem">
                                                <div class="mtcAttendLogo">
                                                    <img src="attendee logos/WMarineP293.png">
                                                </div>
                                                <p class="mtcname">
                                                W Marine Inc
                                                </p>
                                            </div>

                                            </div>
                                            
                                            <div class="mtcFlow">




                                            <div class="mtcItem">
                                                <div class="mtcAttendLogo">
                                                    <img src="attendee logos/Tolani.png">
                                                </div>
                                                <p class="mtcname">
                                                Tolani Group
                                                </p>
                                            </div>

                                        

                                            </div>                                            




                                        </div>
                                    </section>

*/
